@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

html {
  height: 75%;
  width: 90%;
  text-align: unset;
  padding:5%;
  color: rgba(0, 11, 16, 1);
  background:#ffffff;
  font-family: Helvetica;
  font-size: 200%;
}

.link {
  color: rgba(0, 36, 52, 1);
  font-weight: bold;
  text-decoration: none ;
  border: none;
  position: relative;
  cursor: pointer;
}

.link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: rgba(0, 36, 52, 1) ; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    transition: width 0.5s;  /* Время эффекта */
}
